h2{
    font-style: italic;
    color: brown;

}
body{
   background:fixed #ffffff url("brick.jpg");
}

.bury{
    color: blue;
    opacity: 0.4;
}
.paragraph{
    color: blueviolet;
}
#blueflag{
    color: chocolate;
}
h1,
h2{
    color: chartreuse;
}
h1, p {
    text-align: center;
    color: red;
  }
